@media screen and (min-width: 760px) {
    .navigation {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    .navigation.show {
        display: flex;
        flex-direction: row;
    }

    #desktop-search {
        display: block;
        margin-right: 10em;
    }

    #mobile-search {
        display: none;
    }

    #menu {
        display: none;
    }

    .header-nav.open {
        display: block;
        /* shown when hamburger toggles it */
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1.24fr;
        grid-template-rows: auto auto auto auto auto;
        gap: 5px;
        margin-left: 2.5%;
    }

    header h1 {
        grid-column: 2 / 3;
        text-align: center;
        font-size: 2.5rem;
        margin-left: 0;
    }


    #company-spotlights {
        grid-column: 3;
        grid-row: 1 / span 3;
        max-width: 100%;
        overflow-wrap: break-word;
    }

    #dynamic-spotlights {
        grid-column: 3;
        grid-row: 4 / span 5;
        flex-direction: column;
        align-items: center;
    }

    .spotlight-card {
        width: 95%;
    }
}