@media screen and (min-width: 760px) {
    .navigation {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    .navigation.show {
        display: flex;
        flex-direction: row;
    }

    #menu {
        display: none;
    }

    .header-nav.open {
        display: block;
        /* shown when hamburger toggles it */
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1.24fr;
        grid-template-rows: auto auto auto auto auto;
        gap: 5px;
        margin-left: 2.5%;
    }

    header h1 {
        grid-column: 2 / 3;
        text-align: center;
        font-size: 2.5rem;
        margin-left: 0;
    }


    #welcome h2,
    #welcome h3,
    .cta-button {
        max-width: 800px;
        overflow-wrap: break-word;
    }

    #welcome h2 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 10px;
    }

    #welcome h3 {
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-bottom: 20px;
        text-wrap: wrap;
        object-fit: contain;

    }

    .cta-button {
        padding: 15px 20px;
        margin-bottom: 30px;
        font-size: 18px;
        border-radius: 15px;
        transition: background-color 0.3s ease;
    }

    #company-spotlights {
        grid-column: 3;
        grid-row: 1 / span 3;
        max-width: 100%;
        overflow-wrap: break-word;
    }

    #dynamic-spotlights {
        grid-column: 3;
        grid-row: 4 / span 5;
        flex-direction: column;
        align-items: center;
    }

    .spotlight-card {
        width: 95%;
    }
}