* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #fff;
	font-family: Roboto, Helvetica, sans-serif;
}

.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	background-color: darkorange;
	text-align: center;
    border-radius: 10px 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.788);
}

.menu button {
	padding: 1rem;
	font-weight: bold;
    background-color: rgb(14, 14, 180);
    color: #fff;
    border-radius: 10px 15px;
}

section {
	border: 3px solid #fa8806ef;
	padding: 0.5rem;
	background-color: white;
    box-shadow: 0 5px 8px rgba(15, 237, 19, 0.958);
    line-height: 1.5em;
}

article.grid,
article.list {
    transition: all 0.3s ease-in-out;
}

.grid {
	display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
	grid-gap: 10px;
	align-items: center;
    object-fit: contain;
}

.grid section {
	text-align: center;
}

.grid img {
    object-fit: cover;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
    color: rgb(10, 64, 228);
    font-weight: bold;
    line-height: 3rem;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
    text-wrap: wrap;
}

.list section img {
	display: none;
}

.list section h3 {
	font-size: 1.2rem;
    color: rgb(6, 6, 225);
    font-weight: bold;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: rgb(105, 234, 113);
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%;
    object-fit: cover;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

